/Kotoba.xcodeproj/project.xcworkspace/xcuserdata/rafael.xcuserdatad/UserInterfaceState.xcuserstate
/build/
*~
Kotoba.xcodeproj/xcuserdata/rafael.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
*.trace
\#*\#